@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin:0px;
    border:0px;
    padding:0px;
}

body{
    background:#1a1a1a;
}

.header {
    display:flex;
    align-items: center;
    flex:1;
    margin:20px;
    color:#eee;
    font-family:Open Sans,'Courier New', Courier, monospace;
    font-size: 12px;
}

.left {
    display:flex;
    flex:1;
    justify-content: flex-start;
    align-items: center;
}

.right {
    display:flex;
    flex:1;
    justify-content: flex-end;
    align-items: center;
}

.right ul {
    display:flex;
    justify-content: space-evenly;
    gap:20px;
    text-decoration: none;
    list-style: none;
}

.profile-box{
    display:flex;
    flex:1; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    padding:50px 0 50px 0;
}

.profile-image img{
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.profile-greeting{
    color:#eee;
    font-family: Open Sans,'Courier New', Courier, monospace;
    font-size:12px;
}

.profile-description{
    color:#eee;
    font-family: Open Sans,'Courier New', Courier, monospace;
    font-size:10px;
}

.work-box{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#eee;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px 0px 50px 0px;
}


.work-container{

}